.navbar {
  background: linear-gradient(#4e7c46, #744709);
  padding: 10px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  font-weight: bold;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: yellow;
}

.logout-button {
  background-color: white;
  color: #1f4c49;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e0e0e0;
  color: #1f4c49;
}

.register-container, .login-container {
  display: block;
  text-align: center;
  padding: 40px;
  background-color: #fae4c6;
  width: 400px;
  margin: 3rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Georgia, serif;
  color: #322214; 
}

.register-container input,
.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #689693;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
}

 .login-button,
.register-button {
  background-color: #4e7c46;
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.login-button:hover,
.register-button:hover {
  background-color: #4e7c46;
  color: rgb(219, 236, 37);
}

body {
  background-color: #b2d7a1;
  margin: 0;
  padding: 0;
}

.account-container {
  display: block;
  text-align: center;
  padding: 40px;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
}

.gameover-container {
  display: block;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.play-button {
  background-color: #21a20a;
  color: white;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: #1f4c49;
  border-style: solid;
  cursor: pointer;
}

.play-button:hover {
  background-color: #60ee46;
  color:black;
}

.canvas-container {
  background-image: url("./assets/grass.jpg");
}

.leaderboard-container {
  display: block;
  text-align: center;
  padding: 25px;
  background-color: #9dd595;
  width: 400px;
  margin:25px auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px green;
  font-family: Georgia, serif;
}

.table-container {
  display:inline-table;
  text-align: center;
}

th {
  padding: 15px;
  color: rgb(83, 9, 9);
}

td {
  padding: 5px;
  color: black;
}

.instructionsHeader {
  text-align: center;
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.palsimg {
  display: block;
  margin: 20px auto 0 auto; 
  width: 400px; 
  height: auto;
}

.pals{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.palInfo{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 display: block;
 margin: 30px auto 0 auto; 
 width: 800px; 
}


.userAchievementsGrid, .allAchievementsGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding:5%;
  column-gap: 25px;
  row-gap: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:75%;
  justify-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.achievement{
  width:75%;
  border-radius: 15px;
  background-color: #D8A45C;
  border-style: solid;
  border-color: #322214;
  border-width: 2%;
  padding:15%;
}

.userAchievement{
  width:75%;
  border-radius: 15px;
  background-color: #4e7c46;
  border-style: solid;
  border-color: #322214;
  color:#b2d7a1;
  border-width: 10%;
  padding:15%;
}

.account-container, .allAchievementsTitle, .instructionsHeader, .HomeWelcome, .LeaderboardHeader, .table-container, .playInstructions, .login-container, .register-container{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.allAchievementsTitle{
  color: rgb(120, 79, 3);
}

.userAchievementsTitle{
  color: #065c1d;
}

.accountDetails{
  color: #5f3918;
  text-shadow: 2px 2px 4px #206a15;
}



.LeaderboardImage{
  display: block;
  margin: 20px auto 0 auto; 
  width: 400px; 
  height: auto;
}

.tiredrac{
  display: block;
  margin: 20px auto 0 auto; 
  width: 250px; 
  height: auto;
}

.overimg{
  display: block;
  margin: 20px auto 0 auto; 
  width: 500px; 
  height: 250px;
}